<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.edu.unmsm.sgdfd.mat.backend.mantenimientos.mapper.UnidadAcademicaMapper">

	<sql id="fragmentoSelectUnidadAcademica">
        	SELECT        vmua.codigo_local	 			AS codigoLocal
        				, vmua.nombre_local 			AS nombreLocal
						, vmua.codigo_unidad_academica	AS codigoUnidadAcademica
						, vmua.nombre					AS nombre
						, vmua.sigla					AS sigla
						, vmua.descripcion				AS descripcion
    	FROM VW_MAN_UNIDAD_ACADEMICA vmua
	</sql>
	
	
	<select id="buscarTodos" resultType="UnidadAcademicaResponse">
		<include refid="fragmentoSelectUnidadAcademica" />
	</select>
	
	<select id="buscarPorCodigoLocalYCodigoUnidadAcademica" resultType="UnidadAcademicaResponse">
		<include refid="fragmentoSelectUnidadAcademica" />
			<where>
				<if test="codigoLocal != '' and codigoLocal != null">
					codigo_local = #{codigoLocal}
				</if>
				<if test="codigoUnidadAcademica != '' and codigoUnidadAcademica != null">
					AND codigo_unidad_academica = #{codigoUnidadAcademica}
				</if>
			</where>
	</select>
	
	
	<select id="buscarPorCodigoLocal" resultType="UnidadAcademicaResponse">
		<include refid="fragmentoSelectUnidadAcademica" />
		<where>
			vmua.codigo_local = #{codigoLocal}
		</where>
	</select>
	
	<select id="mantener" statementType="CALLABLE">
		{
		call PKG_MANTENIMIENTOS.PRC_MAN_UNIDAD_ACADEMICA (
		     #{modo,                   					jdbcType = VARCHAR, mode = IN},
             #{objetoMantenido.codigoLocal,				jdbcType = VARCHAR, mode = IN},
             #{objetoMantenido.codigoUnidadAcademica,   jdbcType = INTEGER, mode = IN},
             #{objetoMantenido.nombre,       		 	jdbcType = VARCHAR, mode = IN},
             #{objetoMantenido.sigla,					jdbcType = VARCHAR, mode = IN},
             #{objetoMantenido.descripcion,       		jdbcType = VARCHAR, mode = IN},
			 #{objetoMantenido.usuario,                 jdbcType = VARCHAR, mode = IN}  
             )
         }
	</select>
	

</mapper>
	